$grey: #6c727f;
$black: #161616;
$blue: #005bea;
$darkBlue: #0f1c76;

@mixin default_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin simple_transition {
  opacity: 1;
  transition: 0.2s;
  &:hover {
    opacity: 0.9;
  }
}
@mixin button_template {
  font-family: 'Manrope-Bold';
  font-size: 18px;
  background-color: #fff;
  padding: 16px 30px 17px 30px;
  border-radius: 8px;
  cursor: pointer;
  @include simple_transition;
}
@mixin h2 {
  font-family: 'Manrope-Extrabold';
  font-size: 48px;
  line-height: 1.42;
  letter-spacing: -1.2px;
  margin-bottom: 60px;
}
@mixin h3 {
  font-family: 'Manrope-Bold';
  font-size: 28px;
  color: #333;
  line-height: 1.57;
  letter-spacing: -0.7px;
}
@mixin form-input {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  input, textarea {
    box-sizing: border-box;
    outline: none;
    font-family: 'Manrope-Bold';
    font-size: 16px;
    color: $black;
    width: 100%;
    padding: 13px 16px 14px 16px;
    // margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgba(15,28,118,0.1);
    transform-origin: 0% 0%;
    transition: 0.2s;
  }
  textarea {
    margin-bottom: 50px;
  }
  .placeholder {
    font-family: 'Manrope-Bold';
    font-size: 16px;
    color: $grey;
    background-color: #fff;
    margin: 13px 16px 14px 16px;
    padding: 0px;
    pointer-events: none;
    position: absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .form__error {
    display: none;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Manrope-Bold';
    color: red;
    text-align: left;
    font-size: 12px;
  }
  input:valid:not(:placeholder-shown) {
    border-color:rgba(15,28,118,1);
  }
  input:invalid:not(:placeholder-shown) {
    border-color: red;
  }
  input:invalid:not(:placeholder-shown) ~ .form__error {
    display: block;
  }

  input:focus, input:not(:placeholder-shown), 
  textarea:focus, textarea:not(:placeholder-shown) {
    border: 1px solid rgba(15,28,118,1);
  }
  input:focus + .placeholder, input:not(:placeholder-shown) + .placeholder,
  textarea:focus + .placeholder, textarea:not(:placeholder-shown) + .placeholder {
    font-family: 'Manrope-Extrabold';
    margin: 0;
    padding: 10px;
    color: $black;
    transform: scale(0.75) translateY(-70%) translateX(0px);
  }

}